header
    div(class="navegacion")
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-md-4.col-6
                    img(src="/img/logo.svg", alt="site logo")
                .cold-md-8