extends ./layout/index

block content
    main.container.mt-5 
        h1.text-center.mt-5 #{page}
        .row 

        h2.d-blockw-100.text-center Add Rewiew 

        .row-justify-concent-center
            .col-md-8
                form(action="" method="POST")
                    .form-group 
                        label(for="name") Name
                        input#name(type="text" placeholder="Your name" name="name". class="form-control")
