extends ./layout/index

block content
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="image about us" class="img-fluid")
            .col-md-7
                h1 #{result.titulo}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet dictum nibh. Nullam maximus quam vitae libero congue faucibus. Vestibulum in tempus nunc. Aenean sed mattis quam. Curabitur et libero euismod, maximus mi ut, congue enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor ac turpis et pulvinar. Ut malesuada fringilla tortor quis volutpat. Aenean suscipit magna urna, at porta urna hendrerit et. .

                p Cras semper finibus semper. Mauris a auctor lectus. Nullam hendrerit eros augue, gravida aliquet nibh eleifend sit amet. Aenean dapibus nec tellus sit amet dapibus. Pellentesque auctor et nulla vitae blandit. Curabitur rutrum tortor feugiat purus pellentesque tristique. Suspendisse non magna ut quam euismod finibus id sed nunc.

                p Aenean venenatis lorem quis sodales tincidunt. Nunc eros nisi, interdum sed nunc non, placerat posuere metus. Fusce pellentesque, ligula ut placerat vulputate, risus enim fermentum enim, et gravida sapien dui vulputate nisl. Pellentesque eu dolor rhoncus, lobortis purus non, ultrices libero. Fusce sagittis luctus gravida. Curabitur elementum dui convallis dignissim bibendum. Duis consequat ex nec cursus pharetra. Sed a est et ex ullamcorper scelerisque. Sed non libero in enim dictum finibus.
