*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #555;   /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #262e40 #202c46, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
}

h1, p, a {
  font-family: 'Carrois Gothic SC', sans-serif;
  display: block;
  text-align: center;
  line-height:.8;
  color: rgb(240, 240, 65);
}

h1 {
  font-size: 4rem;
}
